#query_left
{
  margin-left: 15px;
  text-align: right;
  float: left;
}

#query_middle
{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  float: left;
}

#query_right
{
  float: left;
}

.match
{
  color: green;
}

.notmatch
{
  text-decoration: line-through;
  color: red;
}