---

import WillowLayout from '@layouts/WillowLayout.astro';

import BafSlider from '/src/components/BafSlider.astro'

---

<WillowLayout>

	<Fragment slot="body">

		<div id = "subpage_content">
		
			<h2> Color Shader </h2>
			
			<BafSlider id="flowerpots_redslider" before="FlowerPots-Gray.jpg" after="FlowerPots-Red.jpg" title="Red Unlocked" />
			<BafSlider id="flowerpots_greenslider" before="FlowerPots-Gray.jpg" after="FlowerPots-Green.jpg" title="Green Unlocked" />
			<BafSlider id="well_blueslider" before="Well-Gray.jpg" after="Well-Blue.jpg" title="Blue Unlocked" />
			<BafSlider id="fireplace_redslider" before="Fireplace-Gray.jpg" after="Fireplace-Red.jpg" title="Red Unlocked" />
			<BafSlider id="willow_colorslider" before="Willow-Gray.jpg" after="Willow-Colors.jpg" title="Red, Green & Blue Unlocked" />

			<h2> Media </h2>
			
			<div style = "width: 610px; text-align: center;">
			
			<img src="Map.jpg" height="410" width="610"/><br>
			
			Map Sketch<br><br>

			<img src="MainMenu.jpg" height="410" width="610"/><br>
			
			Main Menu<br><br>
			
			</div>
			
			<h2> Inventory </h2>
			
			<div style = "width: 610px; text-align: center;">
			
			<img src="Shovel.jpg" height="160" width="160"/>
			<img src="Hammer.jpg" height="160" width="160"/>
			<img src="Matches.jpg" height="160" width="160"/>
			<img src="Pin_Clover.jpg" height="160" width="160"/>
			<img src="Soap.jpg" height="160" width="160"/>
			<img src="Log.jpg" height="160" width="160"/>
			
			</div>
	
		</div>

	</Fragment>

</WillowLayout>

<style>

	.beforeafter
	{
		margin-top: 20px;
		height: 440px;
		width: 600px;
		text-align: center;
	}

	.beforeafter .images
	{
		height: 400px;
	}

	.slider
	{
		margin-top: 5px;
	}

</style>