<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
  
    {% include chrisw/header.html %}
    
    <link rel = "stylesheet" type = "text/css" href = "wattbodies.css" />

    <title> Watt Bodies </title>
  
  </head>
  
  <body>

    <div id = "global_mainarea">
      
      {% include chrisw/title.html %}
      {% include chrisw/navbar.html %}
      
      <div id = "subpage_content">

        <h2> Media </h2>
        
        <div style = "width: 650px;">
        
          <img src="media/SpaceJunkyard.png" height="410" width="610"/>
          
          <br><br>
         
          <img src="media/Conveyor.png" height="200" width="200"/>
          <img src="media/Hover.png" height="200" width="200"/>
          <img src="media/Spikes.png" height="200" width="200"/>
          
          <br><br>
          
          <img src="media/Dousoid_Hoveroid.png" height="410" width="610"/>
          
          <br><br>
          
          <img src="media/Question.png" height="410" width="610"/>
          
          <br><br>
          
          <img src="media/Puzzle.png" height="410" width="610"/>
          
          <br><br>
          
          <img src="media/Time.png" height="410" width="610"/>
          
          <br><br>
        
        </div>
  
      </div>
      
      {% include wattbodies/project_navigation.html %}
    
    </div>
    
    {% include chrisw/footer.html %}
    
  </body>

</html>