---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
  
    {% include chrisw/header.html %}

    <link rel = "stylesheet" type = "text/css" href = "willow.css" />

    <title> Willow </title>
  
  </head>
  
  <body>

    <div id = "global_mainarea">
      
      {% include chrisw/title.html %}
      {% include chrisw/navbar.html %}
      
      <div id = "gamedownload_content">
      
        <h2> Installation </h2>
        
        Willow requires the August 2009 version (or later) DirectX SDK to be installed.<br>
        The SDK can be downloaded here: <a href = "http://msdn.microsoft.com/en-us/directx/aa937788.aspx">http://msdn.microsoft.com/en-us/directx/aa937788.aspx</a><br>
        
        <br>
        
        Willow is playable on Windows XP / Vista / 7.
        
        <br><br>
        
        <a href = "//downloads.chrisw.org/Willow.zip">Willow.zip</a> (367 MB / 647 MB unzipped)

      </div>
      
      {% include willow/project_navigation.html %}
    
    </div>
    
    {% include chrisw/footer.html %}
    
  </body>

</html>