---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
  
    {% include chrisw/header.html %}
    
    <link rel = "stylesheet" type = "text/css" href = "bloodtide/bloodtide.css" />
    <link rel = "stylesheet" type = "text/css" href = "bloodtide/units/units.css" />

    <title> Blood Tide </title>
  
  </head>
  
  <body>

    <div id = "global_mainarea">
    
      <img id = "btlogo" src = "../Logo.gif" />
      
      {% include chrisw/title.html %}
      {% include chrisw/navbar.html %}
      
      <div id = "human_links">
      
        <center><span class = "unit_name_humans">Humans</span></center><br>
      
        <div class = "unit_link">
          <img src = "bombship/BombshipIcon.png" /><br>
          <a href = "bombship">Bombship</a>
        </div>
        
        <div class = "unit_link">
          <img src = "scubatroop/ScubaTroopIcon.png" /><br>
          <a href = "scubatroop">Scuba Troop</a>
        </div>
        
        <div class = "unit_link">
          <img src = "submarine/SubmarineIcon.jpeg" /><br>
          <a href = "submarine">Submarine</a>
        </div>
        
      </div>
      
      <div id = "piscivian_links">
      
        <center><span class = "unit_name_piscivians">Piscivians</span></center><br>
      
        <div class = "unit_link">
          <img src = "mantaray/MantaRayIcon.png" /><br>
          <a href = "mantaray">Manta Ray</a>
        </div>
        
        <div class = "unit_link">
          <img src = "merman/MermanIcon.jpeg" /><br>
          <a href = "merman">Merman</a>
        </div>
        
        <div class = "unit_link">
          <img src = "turtle/TurtleIcon.jpeg" /><br>
          <a href = "turtle">Turtle</a>
        </div>
        
      </div>
   
      {% include bloodtide/project_navigation.html %}
    
    </div>
    
    {% include chrisw/footer.html %}
    
  </body>

</html>