---
import WattBodiesLayout from '@layouts/WattBodiesLayout.astro';
---

<WattBodiesLayout>

	<Fragment slot="body">

		<div id = "gamedownload_content">
		
			<h2> Installation </h2>
			
			Watt Bodies requires the August 2009 version (or later) DirectX SDK to be installed.<br>
			The SDK can be downloaded here: <a href = "http://msdn.microsoft.com/en-us/directx/aa937788.aspx">http://msdn.microsoft.com/en-us/directx/aa937788.aspx</a><br>
			
			<br>
			
			Watt Bodies is playable on Windows XP / Vista / 7.
			
			<br><br>
			
			<a href = "//downloads.chrisw.org/WattBodies.zip">WattBodies.zip</a> (137 MB / 292 MB unzipped)

		</div>

	</Fragment>

</WattBodiesLayout>