---
import WattBodiesLayout from '@layouts/WattBodiesLayout.astro';
---

<WattBodiesLayout>

	<Fragment slot="body">

		<div id = "gameinfo_content">
		
			<h2> Robots </h2>
			
			<p>Players can choose to play as one of three robots. Players are free to change between the robots at anytime,
			so long as no other player is currently using it. This allows the game to be played with less than 3 players.<p>
				
			<div class = "info_robot">
				<div class = "info_robot_image"><img src="Zoomoid.png" /><br>Zoomoid</div><br>
				Equipped with wheels, Zoomoid can move very fast and has the ability to run through conveyor belts.
				This robot, however, cannot jump very high.<br>
			</div>
			
			<div class = "info_robot">
				<div class = "info_robot_image"><img src="Hoveroid.png" /><br>Hoveroid</div><br>
				Equipped with jet boots, Hoveroid can hover over the ground. This ability can be used to get to high areas the other robots can not reach.
				This robot, however, is slower than Zoomoid.<br>
			</div>  

			<div class = "info_robot">
				<div class = "info_robot_image"><img src="Dousoid.png" /><br>Dousoid</div><br>
				Dousoid is the slowest and biggest of the three robots. It has a landing pad on its head that Hoveroid can use as a platform to jump higher.
				This robot, however, is the slowest and since it is so large, it cannot fit into small spaces.<br>
			</div>
		
		</div>

	</Fragment>

</WattBodiesLayout>

<style>

	.info_robot
	{
		height: 130px;
		width: 500px;
		margin-bottom: 10px;
	}

	.info_robot img
	{
		width: 100px;
		height: 100px;
	}

	.info_robot_image
	{
		text-align: center;
		float: left;
		margin-right: 15px;
	}


</style>