---
import WattBodiesLayout from '@layouts/WattBodiesLayout.astro';
---

<WattBodiesLayout>

	<Fragment slot="body">

		<div id = "subpage_content">

			<h2> Media </h2>
			
			<div style = "width: 650px;">
			
			<img src="SpaceJunkyard.png" height="410" width="610"/>
			
			<br><br>
			
			<img src="Conveyor.png" height="200" width="200"/>
			<img src="Hover.png" height="200" width="200"/>
			<img src="Spikes.png" height="200" width="200"/>
			
			<br><br>
			
			<img src="Dousoid_Hoveroid.png" height="410" width="610"/>
			
			<br><br>
			
			<img src="Question.png" height="410" width="610"/>
			
			<br><br>
			
			<img src="Puzzle.png" height="410" width="610"/>
			
			<br><br>
			
			<img src="Time.png" height="410" width="610"/>
			
			<br><br>
			
			</div>
	
		</div>

	</Fragment>

</WattBodiesLayout>

<style>

	#subpage_content img
	{
		outline: black solid 1px;
		margin-right: 10px;
	}

</style>