#global_title
{
  background: #000000 url('http://www.chrisw.org/web/wattbodies/Logo.png') no-repeat center top;
}

.info_robot
{
  height: 130px;
  width: 500px;
  margin-bottom: 10px;
}

.info_robot img
{
  width: 100px;
  height: 100px;
}

.info_robot_image
{
  text-align: center;
  float: left;
  margin-right: 15px;
}

#subpage_content img
{
  outline: black solid 1px;
  margin-right: 10px;
}
