<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
  
    {% include chrisw/header.html %}
    <?php require(getenv("UNIT_DISPLAY")) ?>
    
    <link rel = "stylesheet" type = "text/css" href = "http://bloodtide.chrisw.org/bloodtide.css" />
    <link rel = "stylesheet" type = "text/css" href = "http://bloodtide.chrisw.org/units/units.css" />

    <title> Blood Tide </title>
  
  </head>
  
  <body>

    <div id = "global_mainarea">
    
      <img id = "btlogo" src = "http://bloodtide.chrisw.org/media/Logo.gif" />
      
      {% include chrisw/title.html %}
      {% include chrisw/navbar.html %}
      
      <?php 
      
        display_mantaray();

      ?>
        
      {% include bloodtide/project_navigation.html %}
    
    </div>
    
    {% include chrisw/footer.html %}
    
  </body>

</html>