<div id = "project_navigation">
  
  <a href = "wattbodies">Home</a>
  <a href = "wattbodies/info.html">Info</a>
  <a href = "wattbodies/media.html">Media</a>
  <a href = "wattbodies/team.html">Team</a>
  <a href = "wattbodies/download.html">Download</a>
  
</div>