#global_title
{
  background: #000000 url('http://www.chrisw.org/web/willow/media/Logo.gif') no-repeat center top;
}

.beforeafter
{
  margin-top: 20px;
  height: 440px;
  width: 600px;
  text-align: center;
}

.beforeafter .images
{
  height: 400px;
}

.slider
{
  margin-top: 5px;
}
