#global_title
{
  background: #000000 url('http://www.chrisw.org/web/datacraft/media/Logo.jpg') no-repeat center top;
}

#page_queries
{
  position: absolute;
  left: 25px;
  top: 25px;
  width: 125px;
  height: 475px;
}

#page_queries_desc
{
  position: absolute;
  top: 25px;
  left: 200px;
  width: 550px;
  height: 50px;
}

#page_fusion_chart
{
  position: absolute;
  top: 100px;
  left: 200px;
  width: 550px;
  height: 400px;
}