---

import { Image } from 'astro:assets';

const { title, header_image } = Astro.props;

---

<!doctype html>
<html lang="en">

	<head>

		<meta http-equiv = "Content-Type" content= "text/html; charset=utf-8" />

		<link rel = "stylesheet" type = "text/css" href = "//chrisw.org/web/chrisw/gamehome.css" />
		<link rel = "stylesheet" type = "text/css" href = "//chrisw.org/web/chrisw/gameinfo.css" />
		<link rel = "stylesheet" type = "text/css" href = "//chrisw.org/web/chrisw/gameteam.css" />
		<link rel = "stylesheet" type = "text/css" href = "//chrisw.org/web/chrisw/gamedownload.css" />
		<link rel = "stylesheet" type = "text/css" href = "//chrisw.org/web/shared/shared.css" />
		
		<link rel= "shortcut icon" href= "/favicon.ico" type= "image/x-icon" />

		<script type = "text/javascript" src = "//chrisw.org/web/shared/shared.js"></script>
		<script type = "text/javascript" src = "//chrisw.org/web/shared/jquery.js"></script>

		<title> {title} </title>

		<slot name="base_header" />

	</head>

	<body>

		<div id = "global_mainarea">
		
			<div id = "global_title" >
				{header_image && <img src={header_image} />}
			</div>

			<div id = "global_navbar">
			
				<ul>
					<li><a href = "/"> Home </a></li>
					<li><a href = "/projects"> Projects </a></li>
					<li><a href = "/cwengine"> cwengine </a></li>
					<li><a href = "/downloads/chrisw_resume.pdf"> Resume </a></li>
				</ul>
				
			</div>
		
			<slot name="base_body" />
		
		</div>

		<div id = "global_footer">© 2011 Chris Williams</div>

	</body>

</html>

<style is:global>

	/* http://chrisw.org/web/chrisw/chrisw.css */

	#global_mainarea {
		width: 800px;
		margin: auto;
		border: 1px solid black;
	}

	#global_title {
		position: relative;
		height: 100px;
		background: #33A1DE
	}

	#global_navbar {
		position: relative;
		height: 32px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	
	#global_navbar ul {
		padding: 0px;
		margin: 0px;
		height: 32px;
		width: 100%;
		background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(212, 112, 25, 1) 0%, rgba(217, 179, 63, 1) 100%);
	}

	#global_navbar li {
		list-style: none;
		float: left;
		display: inline;
		height: 32px;
		padding-right: 10px;
		padding-left: 10px;
		font-family: Arial;
		font-size: 1.0em;
		border-right: 1px solid black;
	}

	#global_navbar a {
		text-decoration: none;
		padding-top: 5px;
		display: block;
		color: white;
	}

	#global_navbar a:hover {
		color: black;
	}

	#global_navbar a:active {
		font-weight: bold;
	}

	#global_footer {
		width: 800px;
		margin: auto;
		margin-top: 5px;
		clear: both;
	}

	.break {
		clear: both;
	}

	/* Misc CSS [for Games] */ 

	#global_mainarea {
		font-family: Arial, Helvetica, sans-serif;
		line-height: 1.3em;
	}

	#global_navbar a {
		font-family: Arial, Helvetica, sans-serif;
	}

	a {
		font-family: Times New Roman, serif;
	}

	h1 {
		font-family: Times New Roman, serif;
	}

	h2 {
		font-family: Times New Roman, serif;
	}

	h3 {
		font-family: Times New Roman, serif;
	}

	#subpage_content {
		margin-left: 10px;
	}

	#project_navigation {
		text-align: center;
		border-top: 1px dashed black;
		margin-top: 20px;
		word-spacing: 5px;
		clear: both;
	}

</style>