---
import BaseLayout from '@layouts/BaseLayout.astro';
import { default as Image, Fit } from '@components/Image.astro';
---

<BaseLayout title='Blood Tide' header_color='#33A1DE'>

	<Fragment slot="header_image">
		<Image src='/bloodtide/logo.gif' width={226} height={132} clazz='bloodtide_logo' />
	</Fragment>

	<xFragment slot="base_header">

		<ximg id = "btlogo" src = "/bloodtide/logo.gif" />

		<xslot name="header" />

	</xFragment>

	<Fragment slot="base_body">

		<slot name="body" />

		<div id = "project_navigation">

			<a href = "/bloodtide">Home</a>
			<a href = "/bloodtide/info">Info</a>
			<a href = "/bloodtide/units">Units</a>
			<a href = "/bloodtide/download">Download</a>

		</div>

	</Fragment>

</BaseLayout>

<style is:global>

	.bloodtide_logo {
		left: 50%;
		margin-left: -113px;
		position: absolute;
		z-index: 1;
	}

	#bt_work ul {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#bt_work .category {
		font-weight: bold;
	}

</style>