---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Blood Tide'>

	<Fragment slot="base_header">

		<img id = "btlogo" src = "/bloodtide/Logo.gif" />

		<slot name="header" />

	</Fragment>

	<Fragment slot="base_body">

		<slot name="body" />

		<div id = "project_navigation">

			<a href = "/bloodtide">Home</a>
			<a href = "/bloodtide/info">Info</a>
			<a href = "/bloodtide/units">Units</a>
			<a href = "/bloodtide/download">Download</a>

		</div>

	</Fragment>

</BaseLayout>

<style>

	#btlogo {
		left: 50%;
		margin-left: -113px;
		position: absolute;
		z-index: 1;
	}

	#bt_work ul {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#bt_work .category {
		font-weight: bold;
	}

</style>