---
import BaseLayout from '@layouts/BaseLayout.astro';
import { default as Image, Fit } from '@components/Image.astro';
---

<BaseLayout title='Watt Bodies'>

	<Fragment slot="header_image">
		<Image src='/wattbodies/logo.png' width={800} height={100} />
	</Fragment>

	<Fragment slot="base_body">

		<slot name="body" />

		<div id = "project_navigation">
		
			<a href = "/wattbodies">Home</a>
			<a href = "/wattbodies/info">Info</a>
			<a href = "/wattbodies/media">Media</a>
			<a href = "/wattbodies/download">Download</a>
		
		</div>

	</Fragment>

</BaseLayout>